


	<form name="search" method="post">
		${form.render()}
	</form>


<h2>Constructing queries in Lucene</h2>
<p>
You have the full Lucene query power at your disposal. The easiest query is:
	<pre>
	foo
	</pre>
This will return all revisions where the word foo was either added or removed.
</p>

<p>
You can limit your results to certain namespaces:
	<pre>
	foo namespace:3
	</pre>
This will return all revisions where the word foo was either added or removed in namespace 3.
</p>

<p>
You can search for a word in a particular field (see Available fields and as long as Field.Index says Analyzed):
	<pre>
	title:foo namespace:4 
	</pre>
</p>


<h2>Available fields</h2>
<p>
<ul>
	<li>rev_id,		Field.Index.NOT_ANALYZED</li>
	<li>page_id,	Field.Index.NOT_ANALYZED</li>
	<li>namespace, 	Field.Index.NOT_ANALYZED</li>
	<li>title,    	Field.Index.ANALYZED</li>
	<li>timestamp, 	Field.Index.NOT_ANALYZED</li>
	<li>minor,     	Field.Index.NOT_ANALYZED</li>
	<li>user_id,   	Field.Index.NOT_ANALYZED</li>
	<li>user_text, 	Field.Index.ANALYZED</li>
</ul>
</p>


<h2>Next features</h2>
<ul>
<li> limit query to date range</li>

</ul> 

<h2>Limitations</h2>
<ul>
<li> You cannot search the comments at this moment. </li>
<li> You cannot limit a query to certain users</li>
</ul>